.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productPageTop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1%;
}

.productPageTop p {
  padding: 1%;
  height: 55%;
  font-size: 1em;
  color: #ffc4d4;
  background-color: rgb(29, 16, 34);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 1px rgb(227, 24, 24);
  text-align: center;
  padding: 10px;
}

.productPageTop h1 {
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .productsContainer {
    height: 90vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    overflow-y: auto;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .productsContainer {
    height: 90vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow-y: auto;
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .productsContainer {
    height: 90vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    overflow-y: auto;
    padding: 20px;
  }
}
