.cardContainer {
  display: flex;
  border: 1px solid pink;
  height: 35vh;
  background-color: white;
  border-radius: 50px;
  box-shadow: 7px 7px 1px pink, -5px -5px 10px purple;
}
.cardContainer:hover {
  box-shadow: 1px 1px 5px pink, -1px -1px 5px pink;
}
.cardContainer-left {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.cardContainer-left img {
  height: 90%;
  object-fit: contain;
  width: 90%;
  mix-blend-mode: darken;
}
.cardContainer-left button {
  position: absolute;
  width: 45%;
  height: 15%;
  bottom: 3%;
  text-align: center;
  color: #ffc4d4;
  background-color: rgb(29, 16, 34);
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 1px rgb(227, 24, 24);
  border: 1px solid #ffc4d4;
  box-shadow: 0 0 2px #ffc4d4;
  font-size: 0.9em;
  font-family: "Ysabeau Office", sans-serif;
  cursor: pointer;
  font-style: italic;
}
.cardContainer-right {
  flex: 0.3;
  background-color: purple;
  border-left: 10px double pink;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .cardContainer-left button {
    bottom: 4%;
    width: 50%;
    height: 12%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}
